// FONTS
$font-family: 'Raleway', sans-serif;
$font-bold: 700;
$font-normal: 400;
$font-size: 1.6rem;
$line-height: 1.6;

// COLORS
$color-contrast: #ffff00;
$color-white: #fff;
$color-black: #111;

// SIZES
$page-width-max: 144rem;
