.searchbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 99;

  &__form {
    width: 100%;
    height: 7rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 0 10rem;
    background-color: $color-contrast;
  }

  &__btn {
    padding: 1rem 2rem;
    background-color: $color-black;
    border: none;
    border-radius: 50rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $color-white;
  }

  &__form-right {
    display: flex;
    align-items: center;
  }

  &__input {
    display: block;
    background-color: $color-contrast;
    border: none;
    font-size: 3.2rem;
    height: 100%;
    width: 100%;
    padding-right: 5rem;
    font-weight: $font-bold;
  }

  &__icon {
    color: $color-black;
    font-size: 2.4rem;
    margin-left: 4rem;
    cursor: pointer;
  }
}
